/Semana01/MateApp/nbproject/private/
/Semana01/MateApp/build/
/Semana01/MateApp/dist/
/Semana02/MateApp/nbproject/private/
/Semana02/MateApp/build/
/Semana02/Demo01/target/
/Semana03/PagoApp/target/
/Semana03/AprendiendoJava/target/
/Semana03/MateLib/nbproject/private/
/Semana03/MateLib/build/
/Semana03/MateLib/dist/
/Semana03/MateApp/nbproject/private/
/Semana03/MateApp/build/
/Semana04/AprendiendoJava/target/
/Semana05/AprendiendoJava/target/
/Semana05/VentaApp/nbproject/private/
/Semana05/VentaApp/build/
/Semana05/VentaApp/dist/
/Semana06/AprendiendoJava/target/
/Semana07/ProyectoSemana07/target/
/Semana03/ProyectoSemana07/target/
